<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plr.vehicle.dao.INewsDao">

    <resultMap id="newsPojoResultMap" type="com.plr.vehicle.pojo.NewsPojo">
        <id column="news_id" property="newsId" jdbcType="BIGINT"/>
        <result column="news_title" property="newsTitle" jdbcType="VARCHAR"/>
        <result column="news_content" property="newsContent" jdbcType="VARCHAR"/>
        <result column="news_author" property="newsAuthor" jdbcType="VARCHAR"/>
        <result column="news_show" property="newsShow" jdbcType="BOOLEAN"/>
        <result column="show_time" property="showTime" jdbcType="VARCHAR"/>
        <result column="opt_user" property="optUser" jdbcType="INTEGER"/>
        <result column="opt_time" property="optTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 查询公告个数 -->
    <select id="getNewsCount" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT bn.news_id)
        FROM base_news bn
        LEFT JOIN system_users su ON bn.opt_user = su.user_id
        <where>
            <if test="newsPojo.newsId != null and newsPojo.newsId>0">
                bn.news_id = #{newsPojo.newsId}
            </if>
            <if test="newsPojo.newsTitle != null and newsPojo.newsTitle != ''">
                AND bn.news_title LIKE CONCAT('%',CONCAT(#{newsPojo.newsTitle},'%'))
            </if>
            <if test="newsPojo.newsContent != null and newsPojo.newsContent != ''">
                AND bn.news_content LIKE CONCAT('%',CONCAT(#{newsPojo.newsContent},'%'))
            </if>
        </where>
    </select>

    <!-- 查询公告 -->
    <select id="getNews" resultMap="newsPojoResultMap">
        SELECT DISTINCT
        bn.news_id,
        bn.news_title,
        bn.news_content,
        bn.news_author,
        bn.news_show,
        bn.show_time,
        bn.opt_user,
        bn.opt_time
        FROM base_news bn
        LEFT JOIN system_users su ON bn.opt_user = su.user_id
        <where>
            <if test="newsPojo.newsId != null and newsPojo.newsId>0">
                bn.news_id = #{newsPojo.newsId}
            </if>
            <if test="newsPojo.newsShow != null and newsPojo.newsShow == true">
                bn.news_show = #{newsPojo.newsShow}
            </if>
            <if test="newsPojo.newsTitle != null and newsPojo.newsTitle != ''">
                AND bn.news_title LIKE CONCAT('%',CONCAT(#{newsPojo.newsTitle},'%'))
            </if>
            <if test="newsPojo.newsContent != null and newsPojo.newsContent != ''">
                AND bn.news_content LIKE CONCAT('%',CONCAT(#{newsPojo.newsContent},'%'))
            </if>
            <if test="showNewsFlag">
                AND DATEDIFF(show_time, NOW()) &lt;= 0
            </if>
        </where>
        ORDER BY bn.show_time DESC
        <if test="newsPojo.rowIndex != null and newsPojo.rowIndex >=0
        and newsPojo.rowCount != null and newsPojo.rowCount>0">
            LIMIT #{newsPojo.rowIndex},#{newsPojo.rowCount}
        </if>
    </select>

    <!-- 新增公告 -->
    <insert id="insertNews" parameterType="com.plr.vehicle.pojo.NewsPojo">
        INSERT INTO base_news(
            news_id,
            news_title,
            news_content,
            news_author,
            news_show,
            show_time,
            opt_user
        )VALUES (
            #{newsPojo.newsId},
            #{newsPojo.newsTitle},
            #{newsPojo.newsContent},
            #{newsPojo.newsAuthor},
            #{newsPojo.newsShow},
            #{newsPojo.showTime},
            #{newsPojo.optUser}
        )
    </insert>

    <!-- 更新公告 -->
    <update id="updateNews" parameterType="com.plr.vehicle.pojo.NewsPojo">
        UPDATE base_news
          SET news_title = #{newsPojo.newsTitle},
              news_content =  #{newsPojo.newsContent},
              news_author =  #{newsPojo.newsAuthor},
              news_show =  #{newsPojo.newsShow},
              show_time =  #{newsPojo.showTime},
              opt_user = #{newsPojo.optUser},
              opt_time = #{newsPojo.optTime}
        WHERE news_id =  #{newsPojo.newsId}
    </update>

    <!-- 删除公告 -->
    <delete id="deleteNews">
        DELETE FROM base_news
        <where>
            <choose>
                <when test="idList != null and idList.size()>0">
                    news_id IN
                    <foreach collection="idList" item="item" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </when>
                <otherwise>
                    news_id IS NULL
                </otherwise>
            </choose>
        </where>
    </delete>

</mapper>